<strong>Ola, {{ deliveryman }}.</strong>
<p>Você tem um novo pacote:</p>
<p>
  <strong>Destinatario: </strong> {{ name }} <br />
  <strong>Endereço: </strong> <br />
  <p>
    <strong>Rua/Av: </strong> {{ street }} <br />
    <strong>Numero: </strong> {{ number }} <br />
    <strong>Complemento: </strong> {{ complement }} <br />
    <strong>Cidade: </strong> {{ city }} <br />
    <strong>Estado: </strong> {{ state }} <br />
    <strong>CEP: </strong> {{ zip_code }} <br />
  </p>
  <br />
  <small>
    Favor realizar a coleta.
  </small>
</p>